name: Manual Release YARN

on:
  workflow_dispatch:
    inputs:
      increment:
        type: string
        description: "Must be: patch, minor, major, pre* or <version>"
        required: true
        default: "patch"

permissions: write-all

jobs: 
  manual-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}

      - name: Setup GIT
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Enable Corepack and Set Yarn Version
        run: |
          corepack enable
          corepack prepare yarn@4.x --activate

      - name: Restore Yarn Cache
        uses: actions/cache@v3
        id: yarn-cache
        with:
          path: .yarn/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: |
          rm yarn.lock .yarn/cache -rf
          yarn install
          yarn install --mode=update-lockfile
          yarn install --no-immutable

      - name: Release
        # run: "npx release-it --increment --no-git.requireCleanWorkingDir ${{ github.event.inputs.increment }}"
        # run: "yarn release-it --increment --no-git.requireCleanWorkingDir ${{ github.event.inputs.increment }}"
        # run: "yarn dlx release-it --increment --no-git.requireCleanWorkingDir ${{ github.event.inputs.increment }}"
        # run: "yarn release --increment --no-git.requireCleanWorkingDir ${{ github.event.inputs.increment }}"
        run: "yarn release-it --increment --no-git.requireCleanWorkingDir ${{ github.event.inputs.increment }}"